html, body {
	overflow-x: hidden;
	font-family: 'Quicksand', sans-serif;
	height: 100%;
}
p {
	font-size: 1.4em;
}
section {
	padding: 5rem 0;
}
.header {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c0392b, #f1c40f, #2ecc71, #3498db, #8e44ad);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c0392b, #f1c40f, #2ecc71, #3498db, #8e44ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* BACKGROUND IMAGE */
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.caption {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.caption h1 {
	font-size: 13vw;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5rem;
}

/* ========== RESEARCHERS =========== */
.name {
	font-size: 1.5em;
	margin: 0;
	font-weight: 500;
}
.degree {
	font-size: 1.1em;
}
#researchers img {
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
}
#researchers .col-sm-6 {
	padding-bottom: 2rem;
}

/* ========== FORM ========== */
iframe {
	margin-top: 2.5rem;
}

/* ========== SOCIAL MEDIA ========== */
#socialMedia img {
  width: 5rem;
}

/* ========== FOOTER ========== */
footer {
	background-color: black;
	padding: 5rem 0 1rem 0;
	margin-top: 3rem;
	color: white;
}
footer h1 {
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
  text-indent: 0.7rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin-bottom: 5rem;
}
footer p {
  padding: 0 0.5rem;
  margin: 0;
  font-size: 0.8em;
}

/* ========== Media Queries ========== */
@media (max-width: 1824px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-desktop.jpg");
  }
}
@media (max-width: 1224px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-laptop.jpg");
  }
}
@media (max-width: 1024px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-tablet-landscape.jpg");
  }
}
@media (max-width: 834px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-tablet.jpg");
    height: 80%;
  }
  section {
    padding: 2rem 0;
  }
  footer h1 {
    font-size: 5em;
  }
}
@media (max-width: 768px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-tablet.jpg");
  }
  footer h1 {
    font-size: 3.5em;
  }
}
@media (max-width: 736px) {
  .banner {
    height: 80%;
  }
  p {
    font-size: 1.3em;
  }
  section {
    padding: 1.5rem 0;
  }
  .header {
    font-size: 2.5em;
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-mobile-landscape.jpg");
  }
  footer h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 400px) {
  .header {
    font-size: 2em;
  }
}
@media (max-width: 320px) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background-mobile.jpg");
  }
  p {
    font-size: 1.2em;
  }
  .header {
    font-size: 1.7em;
  }
  footer h1 {
    font-size: 1.5em;
  }
}
@media (max-width: 280px) {
  p {
    font-size: 1.1em;
  }
}